{% extends "base.html" %}

{% block leftbar %}
    <b>Languages:</b><br>
    {% for version in versions %}
        <a href="{{base_path}}/page/view/{{version.language.shortcode}}/{{version.name}}/{{version.id}}">{{version.language.name}}</a><br>
    {% endfor %}
{% endblock %}

{% block content %}
  <div class="lol-left">
    {% if version.id!=-1 %}
        <h1>Edit</h1>
    {% else %}
        <h1>Create a new article</h1>
    {% endif %}
    <i>Voit lisätä linkin toiseen artikkeliin lisäämällä artikkelin nimi tuplahakasulkeisiin [[artikkeli]] tai [[artikkeli|näytettävä teksti]]. <br>
    Lisää tämä artikkeli toisen artikkelin alaluokaksi lisäämällä artikkelin nimi tupla-aaltosulkeissa {{"{{}}"}} <br>
    Tekstistä voi tehdä lihavoitua [b]-tageilla ja kursivoitua [i]-tageilla
    </i>
    <form method="post" action="{{base_path}}/page/save">
        <input type="hidden" name="parent_version" value="{{version.id}}"></input>
        {% if version.id!=-1 %}
            <input type="hidden" name="language" value="{{article.language.shortcode}}"></input><br><br>
            <input type="hidden" name="abstract_id" value="{{article.abstract_id}}"></input>
        {% else %}
            Language: <br>
            {% for language in languages %}
                <input type="radio" name="language" value="{{language.shortcode}}"> {{language.name}} <br>
            {% endfor %}
            <input type="hidden" name="abstract_id" value="{{abstract_id}}"></input>
        {% endif %}
        
        Name: <input name="title" value="{{article.name}}"></input><br><br>
        <textarea name="article" rows=15 cols=150>{{version.contents}}</textarea> <br>
        <button type="submit">Save</button><br>
    </form>
    <form action="{{base_path}}/page/version/{{version.id}}"><button type="submit">Back</button></form>
  </div>
  
{% endblock %}
