{% extends "base.html" %}

{% block leftbar %}
    <b>Languages:</b><br>
{% endblock %}

{% block content %}
  <div class="lol-left">
        <a href="{{base_path}}/page/view/{{article.language.shortcode}}/{{article.name}}/{{article.id}}">View Article</a>
        <h1>Article discussion page</h1>
        {% for message in messages %}
            <div class="messagebox">
                <a href="{{base_path}}/user/{{message.username}}"><b>{{message.username}}</b></a> {{message.time}} {% if message.time!=message.edited %}<i>({{message.edited}})</i>{% endif %}
                <div class="message">
                    {{message.message}}
                </div>
            </div>
        {% endfor %}
        {% if user_logged_in %}
            <form method="post" action="{{base_path}}/page/discussion/{{article.language.shortcode}}/{{article.name}}/{{article.id}}">
                <div class="messagebox">
                    <b>Write a message</b>
                    <div class="message">
                        <form>
                            <textarea name="message" rows=5 cols=50></textarea><br>
                            <button type="submit"> Lähetä </button>
                        </form>
                    </div>
                </div>
            </form>
        {% endif %}
  </div>
  
{% endblock %}
