{% extends "base.html" %}

{% block leftbar %}
{% endblock %}

{% block content %}
  <div class="lol-left">
    {% if version.id!=-1 %}
        <h1>Muokkaa artikkelia</h1>
    {% else %}
        <h1>Luo uusi artikkeli</h1>
    {% endif %}
    <form method="post" action="{{base_path}}/page/save">
        <input type="hidden" name="parent_version" value="{{version.id}}"></input>
        {% if version.id!=-1 %}
            <input type="hidden" name="language" value="{{article.language.shortcode}}"></input><br><br>
            <input type="hidden" name="abstract_id" value="{{article.abstract_id}}"></input>
        {% else %}
            Kieli: <br>
            {% for language in languages %}
                <input type="radio" name="language" value="{{language.shortcode}}"> {{language.name}} <br>
            {% endfor %}
            <input type="hidden" name="abstract_id" value="{{abstract_id}}"></input>
        {% endif %}
        
        Artikkelin nimi: <input name="title" value="{{article.name}}"></input><br><br>
        <textarea name="article" rows=15 cols=150>{{version.contents}}</textarea> <br>
        <button type="submit">Tallenna</button><br>
    </form>
    <form action="{{base_path}}/page/version/{{version.id}}"><button type="submit">Peruuta</button></form>
  </div>
  
{% endblock %}
