{% extends "base.html" %}

{% block leftbar %}
    <b>Kielet:</b><br>
{% endblock %}

{% block content %}
  <div class="lol-left">
    <h1>(Artikkeli-edit)</h1>
    (Tullaan lataamaan tietokannasta...) <br>
    <form>
        Artikkelin nimi: <input name="title"></input><br><br>
        <textarea name="article" rows=20 cols=150></textarea> <br>
        SuperArtikkelit:<br>
        <textarea name="suparticles" rows=5 cols=150></textarea><br>
        <button type="submit">Tallenna</button><br>
    </form>
  </div>
  
{% endblock %}
