<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        PeeloiluPedia
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-default navbar-left left-bar">
        <!--class="navbar navbar-default lolnavbar"-->
        <nav role="navigation">
            <div class="container-fluid">
                <div class="avbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">
                        <h2>PeeloiluPedia</h2>
                        <i>Siisti :3 wikisivusto</i>
                    </a>
                </div><br><br><br><br><br>
                <hr>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}">Etusivu</a></li><br><br><br>
                        <li><a href="{{base_path}}/page">Artikkelit</a></li><br><br><br>
                        <li><a href="{{base_path}}/signup">Rekisteröidy</a></li><br><br><br>
                        <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li><br><br><br>
                    </ul>
                </div>
                
            </div>
        </nav>
        <div class="navc"><hr>
            {% block leftbar %}
            {% endblock %}
        </div>
    </div>
    

    <div id="main-container">
      <!-- Dynaaminen sisältö tulee tähän -->
      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/assets/js/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/assets/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
