{% extends "base.html" %}

{% block leftbar %}
{% endblock %}

{% block content %}
  <div class="lol-left">
    <h1>Languages</h1>
    <i>Tip: If there are some articles written in some languages, removing that language is probably a bit unkind.</i><br>
    <form method="post" action="{{base_path}}/languages">
        <table>
            <tr>
                <th>Name</th><th>Shortcode</th><th>Edit</th><th>Remove/th>
            </tr>
            
            {% for language in languages %}
                <tr>
                    <td><input type="text" name="name[{{language.id}}]" value="{{language.name}}"></input></td>
                    <td><input type="text" name="shortcode[{{language.id}}]" value="{{language.shortcode}}"></input></td>
                    <td><input type="checkbox" name="edit[{{language.id}}]" /></td>
                    <td><input type="checkbox" name="remove[{{language.id}}]" /></td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Save</button>
    </form>
    <h2>Add new language</h2>
    <form method="post" action="{{base_path}}/languages">
        <table>
            <tr>
                <th>Name:</th><td><input type="text" name="new_name"></input></td>
            </tr>
            <tr>
                <th>Shortcode</th><td><input type="text" name="new_shortcode"></input></td>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
  </div>
  
{% endblock %}
