{% extends "base.html" %}

{% block leftbar %}

{% endblock %}

{% block content %}
    <div class="lol-left bit-down">
        <h2>{{NAMEOGPAGE}}</h2>
        {% if user_logged_in %}
            <h1>You are logged in.</h1>
        {% else %}
            <h1>Log in</h1>
            <form method="post" action="{{base_path}}/login">
                <table>
                    {% if redirect_to %}
                        <input type="hidden" name="redirect_to" value="{{redirect_to}}"></input>
                    {% else %}
                        <input type="hidden" name="redirect_to"  value="/login"></input>                    
                    {% endif %}
                    <tr><td>Username:</td><td><input name="username" type="text"></input></tr>
                    <tr><td>Password</td><td><input name="password" type="password"></input></tr>
                </table>
                <button type="submit">Log in</button>
            </form>
        {% endif %}
    </div>
  
{% endblock %}
