{% extends "base.html" %}

{% block content %}
    <div class="lol-left bit-down">
        <h2>{{NAMEOFPAGE}}</h2>
        <h1>Sign up</h1>
        <form method="post" action="{{base_path}}/signup">
            <table>
            <table>
                <tr><td>Email:</td><td><input name="email" type="text" value="{{email}}"></input></tr>
                <tr><td>Username:</td><td><input name="username" type="text" value="{{username}}"></input></tr>
                <tr><td>Password:</td><td><input name="password" type="password"></input></tr>
                <tr><td>Repeat password:</td><td><input name="password2" type="password"></input></tr>
            </table>
            <button type="submit">Sign up</button>
            </table>
        </form>
    </div>
{% endblock %}
