{% extends "base.html" %}

{% block content %}
    <div class="lol-left bit-down">
        <h2>PeeloiluPedia</h2>
        <h1>Rekisteröidy</h1>
        <form>
            <table>
            <table>
                <tr><td>Sähtköposti:</td><td><input type="text"></input></tr>
                <tr><td>Käyttäjänimi:</td><td><input type="text"></input></tr>
                <tr><td>Salasana:</td><td><input type="password"></input></tr>
            </table>
            <button type="submit">Rekisteröidy</button>
            </table>
        </form>
    </div>
{% endblock %}
